.inventory-container {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.inventory-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.search-bar input {
  padding: 10px;
  width: 660px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 40px;
  box-sizing: border-box;
}

.search-bar button {
  background-color: #2d6cdf;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  width: 20%;
  height: 40px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.button-group button,
.button-group a {
  background-color: #2d6cdf;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  transition: 0.2s;
}


.btn-create {
  background-color: #2ecc71;
}

.btn-delete {
  background-color: #e74c3c;
}

.button-group button:hover,
.button-group a:hover {
  opacity: 0.9;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
}

.inventory-table th,
.inventory-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.inventory-table th {
  background-color: #f3f4f6;
  font-weight: 600;
}

.no-data {
  text-align: center;
  color: #888;
}