:root {
  --color-primario: #225EA8;
  --color-acento: #28E0DE;
  --color-fondo: #ffffff;
  --fuente-principal: 'Titillium Web', sans-serif;
  --fuente-secundaria: 'Inter', sans-serif;
}


.employee-dashboard-container {
  min-height: 100vh;
  background-color: var(--color-fondo);
  padding: 2rem 4rem;
  font-family: var(--fuente-secundaria);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.employee-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
}


.employee-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  width: 100%;
  max-width: 1100px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.employee-card {
  width: 300px;
  height: 260px;
  flex-shrink: 0;

  background: #fff;
  border: 1px solid #ddd;
  border-radius: 18px;

  padding: 2.5rem;
  text-align: center;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: var(--fuente-principal);

  text-decoration: none;
  color: inherit;

  transition: all 0.3s ease;
}

.employee-card:hover {
  background-color: #f5f7fa;
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.employee-card p {
  margin-top: 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
}


.employee-card:visited {
  color: inherit;
  text-decoration: none;
}


/* Responsive */
@media (max-width: 768px) {
  .employee-actions {
    flex-direction: column;
  }
  
  .employee-card {
    width: 100%;
    max-width: 320px;
  }
}