:root {
  --color-fondo: #ffffff;
  --color-cuadro: #ffffff;
  --color-borde: #cccccc;
  --color-boton: #225EA8;
  --color-boton-hover: #28E0DE;
  --fuente-principal: 'Titillium Web', sans-serif;
  --fuente-secundaria: 'Inter', sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fondo);
}


.login-box {
  background-color: var(--color-cuadro);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: var(--fuente-secundaria);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.3rem;
  font-weight: lighter;
  font-family: var(--fuente-principal);
}

input {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-borde);
  border-radius: 5px;
}

button {
  background-color: var(--color-boton);
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--fuente-principal);
}

button:hover {
  background-color: var(--color-boton-hover);
}